@model SalesWebMvc.Models.ViewModels.SellerFormViewModel
@{
    ViewData["Title"] = "Create";
}

<h2>@ViewData["Title"]</h2>

<h4>Seller</h4> @*Label*@

<hr/> @*Linha*@

<div class="row"> @*Essa classe do boostrap garante que essa div vai ocupar a largura da tela*@
    <div class="col-md-4"> @*o bootstrap divide a tela em 12 espaços, usando a classe col-md-4 estamos ocupando 1/3 da tela, com-md-6 1/2 e etc..*@
        <form asp-action="Create"> @*idica que o envio do formulario deve ser feito ao controller create, mas não o Get e sim o POST*@
            <div asp-validation-summary="All" class="text-danger"></div> @*ativa a validação de campos baseado nos anotations do model*@
            <div class="form-group">
                <label asp-for="Seller.Name" class="control-label"></label>
                <input asp-for="Seller.Name" class="form-control" />
                <span asp-validation-for="Seller.Name" class="text-danger"></span>  @*validação de formulário atrelada ao campo*@
            </div>
            <div class="form-group">
                <label asp-for="Seller.Email" class="control-label"></label>
                <input asp-for="Seller.Email" class="form-control" />
                <span asp-validation-for="Seller.Email" class="text-danger"></span>  @*validação de formulário atrelada ao campo*@
            </div>
            <div class="form-group">
                <label asp-for="Seller.BirthDate" class="control-label"></label>
                <input asp-for="Seller.BirthDate" class="form-control" />
                <span asp-validation-for="Seller.BirthDate" class="text-danger"></span>  @*validação de formulário atrelada ao campo*@
            </div>
            <div class="form-group">
                <label asp-for="Seller.BaseSalary" class="control-label"></label>
                <input asp-for="Seller.BaseSalary" class="form-control" />
                <span asp-validation-for="Seller.BaseSalary" class="text-danger"></span>  @*validação de formulário atrelada ao campo*@
            </div>
            <div class="form-group">
                <label asp-for="Seller.DepartmentId" class="control-label"></label>
                <select asp-for="Seller.DepartmentId" asp-items="@(new SelectList(Model.Departments, "ID", "Name"))" class="form-control"></select> @*os 3 argumentos do selec list: fonte de dados, chave, nome de exibição*@
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@*Ativa a validação de formulários a nível de javascript no cliente*@
@section Scripts{ 
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}